body {
  padding-top: 60px;
}
.logged-in {
  color: #e6e6e6;
  line-height: 40px;
}
.logged-in .user {
  color: #fefefe;
}
.add-form .calendar {
  cursor: pointer;
}
.add-form .date-form {
  overflow: hidden;
  width: auto;
}
.add-form .amount-form {
  width: auto;
}
.add-form .recurr-form {
  overflow: hidden;
  width: 84px;
}
.add-form .recurr-unit {
  float: right;
  width: auto;
}
.add-form .description-form {
  width: 170px;
}
/* dongs */
