<!doctype html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    {% block headcss %}
    <link rel="stylesheet" href="/static/libs/bootstrap/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/budjet/css/app.css">
    {% endblock %}
    {% block headjs %}
    {% endblock %}
  </head>

  <body>
    {% block content %}
    {% endblock %}

    {% block footerjs %}
    <!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>-->
    <script type="text/javascript" src="/static/libs/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/static/libs/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="/static/libs/backbone/backbone.js"></script>
    <script type="text/javascript" src="/static/libs/date-utils.js"></script>

    <script type="text/javascript" src="/static/budjet/js/app.js"></script>
    <script type="text/javascript" src="/static/budjet/js/backbone/models/transaction.js"></script>
    <script type="text/javascript" src="/static/budjet/js/backbone/views/transaction.js"></script>
    <script type="text/javascript" src="/static/budjet/js/backbone/main.js"></script>

    <script type="text/javascript">
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '129263473847954',
            status     : true, 
            cookie     : true,
            xfbml      : true
          });
          FB.Event.subscribe('auth.login', function(response) {
              $.post('/login', { response: response });
          });

        };
        (function(d){
           var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
           js = d.createElement('script'); js.id = id; js.async = true;
           js.src = "//connect.facebook.net/en_US/all.js";
           d.getElementsByTagName('head')[0].appendChild(js);
         }(document));
    </script>
    {% endblock %}
  </body>
</html>


