{% extends "base.html" %}

{% block title %}Budjet{% endblock %}

{% block content %}
  <div id="fb-root"></div>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="brand" href="/">budjet.app</a>

        <ul class="nav">
          <li class="active">
          <a href="/">Home</a>
          </li>
        </ul>
        <div class="user-cp pull-right">
        </div>
      </div>
    </div>
  </div>

  <div id="budget-app" class="container-fluid">
    <div class="sidebar span3">
      <div class="add-form">
        <form id="transaction-form" class="well">
          <div class="input-append">
            <input type="text" class="date-form" name="date" placeholder="Date"
            tabindex="2">
            <span class="add-on calendar"><i class="icon-calendar"></i></span>
          </div>
          <div class="input-prepend">
            <span class="add-on">$</span>
            <input type="text" class="amount-form" name="amount"
            placeholder="Amount" tabindex="2">
          </div>
          <div>
            <select class="recurr-unit" name="recurr_unit" tabindex="5">
              <option>Days</option>
              <option>Weeks</option>
              <option>Months</option>
            </select>
            <input type="text" class="recurr-form" name="recurring"
            placeholder="Recurrs" tabindex="4">
          </div>
          <textarea class="description-form" name="description"
            placeholder="Description" tabindex="6"></textarea>
          <button class="add-item btn btn-primary"><i class="icon-plus
              icon-white"></i> Add</button>
        </form>
      </div>
      <div class="well">
        <h5>Summary</h5>
        <ul class="unstyled">
          <li>
          <div class="available-balance">
            <span class="income">
              <span class="label label-success">Available</span>
              $4,000
            </span>
          </div>

          <div class="recurring-expenses">
            <span class="expense">
              <span class="label label-important">recurring</span>
              $3,000
            </span>
          </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="content span9">
      <h1>Your Expenses and Shit</h1>

      <ul id="budget-actions" class="unstyled">
        <li>
        </li>
      </ul>


      <table id="budget-table" class="table table-striped">
        <thead>
          <tr>
            <th>Date</th>
            <th>Amount</th>
            <th>Recurrs</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
