<!doctype html>
<html>
  <head>
    <title>Billy Vong's Resume</title>
    <link href='http://fonts.googleapis.com/css?family=Cuprum|Rock+Salt' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/libs/bootstrap/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/resume.css">
    <style type="text/css" media="print">
      h1 {
        font-family: Helvetica, Arial;
      }
      a:link, a:visited {
        color: #000;
      }
      .description-container {
        border-left: none;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <header>
        <div class="vcard">
          <div class="contact">
            <p class="email">
              <a href="mailto:billyvg@gmail.com">billyvg@gmail.com</a>
            </p>
            <p class="github">
              <a href="http://github.com/billyvg">github: billyvg</a>
            </p>
            <p class="tel">(847) 636-2442</p>
          </div>
          <div clss="me">
            <h1 class="fn">Billy Vong</h1>
            <p class="adr">
              <span class="locality">San Francisco, <span class="region">CA</span>
            </p>
          </div>
        </div>
      </header>

      <section id="work-experience">
        <h2>Work Experience</h2>
        <ul class="unstyled">
          <li>
            <h3>
              <a href="http://www.focus.com">Focus.com</a>, <span class="job-title">Frontend Engineer</span>
              <span class="timeframe">2011-present</span>
            </h3>
            <section class="description-container">
              <h4>
                Online conference platform
              </h4>
              <p class="work-description">
                A realtime conference system that users are able to attend and
                listen in to panelists. Some actions that the user could do are:
                <ul>
                  <li>
                    Listen to panelists while chatting with other listeners.
                  </li>
                  <li>
                    Vote positive/negative on the content they hear.
                  </li>
                  <li>
                    Vote up/down questions that they want panelists to answer.
                  </li>
                </ul>
              </p>
              <p class="role">
                Developed the frontend, minor fixes on the backend
                (Node + django).
              </p>
              <p class="lib-list">
                Backbone.js, jQuery, Node.JS, django, RabbitMQ
              </p>

              <h4>
                Site Rewrite
              </h4>
              <p class="work-description">
              </p>
              <p class="role">
                Rewrote the site's entire frontend.  Reduced image usage, used
                CSS image sprites where possible, rewrote JS to be more
                reusable, reduced the frontend code by a significant amount
                and also reduced the frontend loading times.
              </p>
              <p class="lib-list">
                jQuery, Twitter Bootstrap, SASS/SCSS, django
              </p>
            </section>
          </li>
          <li>
            <h3>
              <a href="http://www.quinstreet.com">QuinStreet, Inc.</a>,
              <span class="job-title">Web Developer</span>
              <span class="timeframe">2010-2011</span>
            </h3>
            <section class="description-container">
              <p class="work-description">
                Migrated large, content-rich sites to our proprietary platform.
              </p>
              <p class="role">
                Full-stack development, including rewriting the frontend following
                PSD templates and rewriting the backend using our API to
                communicate and query our content database.
              </p>
              <p class="lib-list">
                CodeIgniter, jQuery
              </p>
            </section>
          </li>
          <li>
            <h3>
              Midnite Videos,
              <span class="job-title">Web Developer</span>
              <span class="timeframe">2008-2009</span>
            </h3>
            <section class="description-container">
              <p class="role">
              Full-stack development.
              </p>
              <p class="lib-list">
                Custom MVC framework in PHP, MySQL, jQuery
              </p>
            </section>
          </li>
        </ul>
      </section>

      <section id="projects">
        <h2>Projects</h2>
        <ul class="unstyled">
          <li>
            <h3>
              <a href="http://github.com/billyvg/ppbot">ppbot</a>
              <span class="project-url">
                http://github.com/billyvg/ppbot
              </span>
              <span class="timeframe">2009-present</span>
            </h3>
            <p class="project-description">
                A python IRC bot.
            </p>
            <section class="description-container">
              <p class="role">
                Began as a solo school project, but eventually turned into
                something to hack on while learning python and python libraries.
              </p>
              <p class="lib-list">
                python, SQLAlchemy, postgresql
              </p>
            </section>
          </li>
          <li>
            <h3>
              <a href="http://github.com/billyvg/budjet">budjet</a>
              <span class="project-url">
                http://github.com/billyvg/budjet
              </span>
              <span class="timeframe">2011-present</span>
            </h3>
            <p class="project-description">
              A budgeting web application (incomplete) which provides an
              easy estimate of your finances. 
            </p>
            <section class="description-container">
              <p class="role">
                Personal side project to help me keep up to date on different web
                toys^H^H^Hechnologies.
              <p class ="lib-list">
                Backbone.js, jQuery, jasmine, CoffeeScript, Flask, Heroku
              </p>
            </section>
          </li>
          <li>
            <h3>
              <a href="http://www.moodydb.com">MoodyDB</a>
              <span class="project-url">
                http://www.moodydb.com
              </span>
              <span class="timeframe">2008</span>
            </h3>
            <p class="project-description">
              Allows user to upload music and attempts to classify music based
              on the "mood" of the song rather than the genre.
            </p>
            <section class="description-container">
              <p class="role">
                Worked with a classmate to develop the site.  Mainly worked on
                the backend using PHP, while classmate did the frontend using
                YUI and jQuery.
              </p>
              <p class="lib-list">
                CodeIgniter, MySQL, jQuery
              </p>
            </section>
          </li>
        </ul>
      </section>

      <section id="skills">
        <h2>
          <strike>Buzzwords</strike> Skills
        </h2>
        <p>
          <span class="high">git, vim, OSX,</span>
          <span class="high">JavaScript, jQuery,</span>
          <span class="medium">Backbone.js, CoffeeScript,</span>
          <span class="high">HTML5/CSS,</span>
          <span class="medium">Bootstrap, sass/scss,</span>
          <span class="high">php, python,</span>
          <span class="medium">django,</span>
          <span class="low">flask, SQLAlchemy, mysql, pgsql</span>
        </p>
      </section>

      <section id="education">
        <h2>
          Education
        </h2>
        <ul class="unstyled">
          <li>
            <h3>
              University of Illinois at Champaign-Urbana
              <span class="timeframe">2009</span>
            </h3>
            <p>BS in Computer Engineering</p>
          </li>
        </p>
      </section>

    </div>

    <script type="text/javascript" src="/static/libs/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/static/libs/underscore/underscore-min.js"></script>
  </body>
</html>


