<!doctype html>
<html>
  <head>
    <title>Billy Vong's Resume</title>
    <link rel="stylesheet" href="/static/libs/bootstrap/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/resume.css">
  </head>

  <body>
    <header>
      <h1>
        <div class="vcard">
          <p class="fn">Billy Vong</p>
          <p class="adr">
            <span class="locality">San Francisco, <span class="region">CA</span>
          </p>
          <p class="tel">(847) 636-2442</p>
          <p class="email">
            <a href="mailto:billyvg@gmail.com">billyvg@gmail.com</a>
          </p>
        </div>
      </h1>
    </header>

    <section id="work-experience">
      <h2>Work Experience</h2>
      <ul>
        <li>
          <h3>
            <a href="http://www.focus.com">Focus.com</a>, <span class="job-title">Frontend Engineer</span>
            <span class"timeframe">2011-current</span>
          </h3>
          <section class="work-description">
            <p>
              Developed the frontend of an online conference platform allowing
              users to listen to panelists while chatting with other listeners,
              voting on the content they hear, and voting on questions for
              panelists   Used <strong>Backbone.js</strong>,
                <strong>jQuery</strong>,
            </p>
            <p>
              Rewrote the site's frontend improving items such as: inline
              and repeated CSS, reduced image usage and used CSS image
              sprites where applicable, rewrote JavaScript to be cleaner
              and more reusable, used Twitter's <strong>Bootstrap
                CSS</strong>.
            </p>
          </section>
        </li>
        <li>
          <h3>
            <a href="http://www.quinstreet.com">QuinStreet, Inc.</a>,
            <span class="job-title">Web Developer</span>
            <span class"timeframe">2011-current</span>
          </h3>
          <section class="work-description">
            <p>
              Migrated large, content-rich sites to our proprietary platform.
              Used <strong>CodeIgniter</strong> (PHP) for the frontend, and an
              API to communicate and query the backend.  Re-built sites
              (frontend and backend), such as <a
                href="http://www.webopedia.com">webopedia.com</a> and <a
                href="http://www.htmlgoodies.com">HTMLGoodies.com</a>
            </p>
          </section>
        </li>
        <li>
          <h3>
            Midnite Videos,
            <span class="job-title">Software Engineer</span>
            <span class"timeframe">2008-2008</span>
          </h3>
          <section class="work-description">
            <p>
              Created an MVC framework in PHP, used to re-implement the site,
              with MySQL as the database, and jQuery on the frontend.
            </p>
          </section>
        </li>
      </ul>
    </section>

    <section id="projects">
      <h2>Projects</h2>
      <ul>
        <li>
          <h3>
            <a href="http://github.com/billyvg/ppbot">ppbot</a>
            <span class="timeframe">2009-current</span>
          </h3>
          <section class="project-description">
            <p>
              A python IRC bot that started off as a school project, but became
              something to hack on while learning python.
            </p>
            <p class="project-url">
              http://github.com/billyvg/ppbot
            </p>
          </section>
        </li>
        <li>
          <h3>
            <a href="http://github.com/billyvg/budjet">budjet</a>
            <span class="timeframe">2011-current</span>
          </h3>
          <section class="project-description">
            <p>
              A budgetting web application (incomplete) which provides an
              easy estimate of your finances. Uses
              <strong>Backbone.js</strong>, <strong>jQuery</strong>,
              <strong>CoffeeScript</strong>, <strong>Flask</strong>,
              <strong>Heroku</strong>
            </p>
            <p class="project-url">
              http://github.com/billyvg/budjet
            </p>
          </section>
        </li>
        <li>
          <h3>
            <a href="http://www.moodydb.com">MoodyDB</a>
            <span class="timeframe">2008</span>
          </h3>
          <section class="project-description">
            <p>
              Allows user to upload music and attempts to classify music based
              on the "mood" of the song rather than the genre.
            </p>
            <p>
              Developed the website using <strong>CodeIgniter</strong (PHP) and
                MySQL.  Assisted with the frontend development using jQuery.
            </p>
            <p class="project-url">
              http://www.moodydb.com
            </p>
          </section>
        </li>
      </ul>
    </section>

    <section id="skills">
      <h2>
        <strike>Buzzwords</strike> Skills
      </h2>
      <p>
      <span class="high">git, vim, OSX</span>
      <span class="high">JavaScript, jQuery</span>,
      <span class="medium">Backbone.js, CoffeeScript</span>,
      <span class="high">HTML5/CSS</span>,
      <span class="medium">Bootstrap, compass, sass/scss</span>,
      <span class="high">php, python</span>
      <span class="medium">django, flask, SQLAlchemy</span>,
      <span class="low">mysql, pgsql</span>,
      </p>
    </section>
    <script type="text/javascript" src="/static/libs/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/static/libs/underscore/underscore-min.js"></script>
  </body>
</html>


