{% extends "base.html" %}

{% block title %}Jasmine Spec Runner{% endblock %}
{% block headcss %}
  <link rel="shortcut icon" type="image/png" href="/static/libs/jasmine/jasmine_favicon.png">
  <link rel="stylesheet" type="text/css" href="/static/libs/jasmine/jasmine.css">
{% endblock %}


{% block footerjs %}
  <script type="text/javascript" src="/static/libs/jasmine/jasmine.js"></script>
  <script type="text/javascript" src="/static/libs/jasmine/jasmine-html.js"></script>

  {{ super() }}

  <!-- include spec files here... -->
  <script type="text/javascript" src="/static/tests/spec/app.js"></script>


  <script type="text/javascript">
    (function() {
      var jasmineEnv = jasmine.getEnv();
      jasmineEnv.updateInterval = 1000;

      var trivialReporter = new jasmine.TrivialReporter();

      jasmineEnv.addReporter(trivialReporter);

      jasmineEnv.specFilter = function(spec) {
        return trivialReporter.specFilter(spec);
      };

      var currentWindowOnload = window.onload;

      window.onload = function() {
        if (currentWindowOnload) {
          currentWindowOnload();
        }
        execJasmine();
      };

      function execJasmine() {
        jasmineEnv.execute();
      }

    })();
  </script>
{% endblock %}

</head>
